.posBtn {
  display: inline-block;
  padding: 0 25px;
  font-size: 14px;
  text-align: center;
  height: 30px;
  line-height: 30px;
  background: #f8f8f8;
  color: #378a35 !important;
  text-transform: capitalize;
  cursor: pointer;
  position: relative;
  margin-top: 10px;
  margin-right: 10px;
}

.posBtn .mat-icon {
  font-size: 17px;
  left: 5px;
  position: absolute;
  top: 6px;
}


.carCompareMain .posBtn {
    color: #fff !important;
    margin-right: 12px;
  }
  
  .posBtn:hover,
  .posBtn:focus {
    background: #378a35;
    color: #fff !important;
  }
  
  .posBtn.largeBtn {
    padding: 0 25px;
    height: 42px;
    line-height: 42px;
    font-size: 18px;
    letter-spacing: 1px;
  }
  
  .posBtn.whiteBtn {
    color: #378a35;
    background: #fff;
  }
  
  /* .mainContentsRight .posBtn{ position: absolute; left: 50%; bottom: 25px; transform: translateX(-50%); } */
  
  .compareBtn {
    width: 100%;
    text-align: center;
    margin-top: 20px;
  }
  
  .mainBtns .posBtn {
    margin-right: 12px;
  }

  .address-disabled{
    pointer-events: none;
  }
/* 
  .AddressInfoPage .row{
    margin: 0px;
  }
  .fieldContainer .col-md-3{
    padding-right: 0px !important;
  }
  .createLeadHeading p{
  font-size: 14px;
  font-weight: normal;
  padding: 0px 15px;
  font-family: 'Poppins';
  }
  .createLeadHeading {
    margin-bottom: 25px;
  }

.AddressInfoPage ::ng-deep .theme1.light .mat-tab-nav-bar,::ng-deep .theme1.light .mat-tab-header {
    border: 0px !important;
    padding: 0px 20px !important;
}
.AddressInfoPage ::ng-deep .mat-tab-header {
  background-color: #fff !important;
}
.AddressInfoPage ::ng-deep mat-ink-bar {
  visibility: hidden !important;
}
.AddressInfoPage ::ng-deep .mat-tab-label {
  height: auto !important;
}
.AddressInfoPage ::ng-deep .mat-tab-labels .mat-tab-label-active .mat-tab-label-content {
  font-size: 14px !important;
  font-weight: normal !important;
  color: #fff !important;
  background: #1A963E;
}
.AddressInfoPage ::ng-deep .mat-tab-label .mat-tab-label-content {
  padding: 0px 10px !important;
  font-size: 14px;
  color: #808191;
  background: #f7f7f7;
  border-radius: 5px;
  line-height: 23px !important;
}
.AddressInfoPage ::ng-deep .mat-tab-label {
  opacity: 1 !important;
  padding: 0 5px !important;
}
.addAddressBtn ::ng-deep .mat-button {
  background: transparent;
  border: 1px solid #1A963E !important;
  padding: 0px 10px !important;
  color: #1A963E !important;
  line-height: 24px;
  float: right;
  margin: 20px 0px 10px 0px;
} */

