<mat-form-field appearance="fill" class="directive controls-margin"
  [ngClass]="{'mandatory-color': isRequired === true}">
  <mat-label>{{label}}</mat-label>
  <input class="customInput" [readonly]="isControlDisable" type="password" (keypress)="onKeypressEvent($event)"
    [formControl]="passwordControl" matInput maxlength="{{maxLength}}" minlength="minlength"
    placeholder="{{placeholder}}">
  @if (isFieldNotValid()) {
    <mat-error class="text-danger">{{errorMsg}}</mat-error>
  }
</mat-form-field>
