.disabledDiv {
    pointer-events: none;
    opacity: 1.0;
    column-rule-color: grey;
}
.mat-mdc-table {
    width: 100%;
}
.mat-mdc-table.resizing {
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    cursor: col-resize;
}
.mat-mdc-table .mat-mdc-cell span {
    display: block;
    overflow: hidden;
    text-overflow: ellipsis;
}
.mat-mdc-table .mat-mdc-header-cell {
    position: relative;
}
.mat-mdc-table .mat-mdc-header-cell:not(:last-child) .resize-holder {
    cursor: col-resize;
    width: 20px;
    height: 100%;
    position: absolute;
    right: -10px;
    top: 0;
    z-index: 1;
}
.mat-mdc-table .mat-mdc-cell, .mat-table .mat-mdc-header-cell {
    border-right: 1px solid rgba(0, 0, 0, 0.12);
}
.mat-mdc-table .mat-mdc-cell:not(:nth-child(1)), .mat-table .mat-mdc-header-cell:not(:nth-child(1)) {
    padding: 0 10px;
}