<div class="container">
  <div class="row">

    <div class="col-md-2 txtlabel">
      <mat-label>{{TimeTitle}}</mat-label>
    </div>

    <div class="col-md-2 space">
      <div>
        <mat-form-field appearance="fill" class="directive controls-margin">
          <input type="number" readonly matInput value="{{Total_Years}}" style="min-width: 40px;">
        </mat-form-field>
      </div>
    </div>

    <div class="col-md-2 txtlabel">
      <mat-label>Years</mat-label>
    </div>

    <div class="col-md-2 space">
      <div>
        <mat-form-field appearance="fill" class="directive controls-margin">
          <input readonly type="number" matInput value="{{Total_Months}}" style="min-width: 40px;">
        </mat-form-field>
      </div>
    </div>

    <div class="col-md-2 txtlabel">
      <mat-label>Months</mat-label>
    </div>

  </div>
</div>



