<?xml version="1.0" encoding="UTF-8"?>
<configuration>
<system.web>
        <httpRuntime enableVersionHeader="False" />
</system.web>
    <system.webServer>
        <security>
            <requestFiltering removeServerHeader="true" />
        </security>
        <httpProtocol>
            <customHeaders>
                <add name="X-Frame-Options" value="SAMEORIGIN" />
		        <remove name="X-Powered-By" />
                <add name="Strict-Transport-Security" value="max-age=31536000"/>
            </customHeaders>
        </httpProtocol>
        <rewrite>
            <rules>
                <rule name="Host Header Validation" stopProcessing="true">
                    <match url="(.*)" />
                    <conditions>
                        <add input="{HTTP_HOST}" pattern="^([a-zA-Z0-9-_]+.)*netsolpk.com$" negate="true" />
                    </conditions>
                    <action type="Redirect" url="https://xyz.netsolpk.com/IOPS/" />
                </rule>
            </rules>
        </rewrite>
    </system.webServer>
</configuration>
