.disabledDiv {
  pointer-events: none;
  opacity: 1;
}
.horizontal-scroll-wrapper {
  overflow-x: auto;
  white-space: nowrap;
  width: 100%;
}
.distanceInfo {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}
